# Navidrome runtime data & caches
navidrome-data/

# Audio & Media files
my-music/*.m4a
my-music/*.mp3
my-music/*.flac
my-music/*.opus
my-music/*.ogg
my-music/*.wav
my-music/*.webm
my-music/*.jpg
my-music/*.jpeg
my-music/*.png
my-music/*.webp

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Environment / local configs
.env
.env.local

# IDE & OS
.DS_Store
.vscode/
.idea/
